.aboutsection {
  padding: 3em;
}
.contactSG {
  position: fixed;
}
<<<<<<< HEAD
aside {
  ul{

    position: fixed;
  }
=======
.is-fixed {
  position: fixed;
>>>>>>> 307833e007ed6d1a661e29072ac3836ca6acb128
}
.indent {
  text-indent: 2em;
}
