@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");
$brandFont: "Cinzel Decorative", cursive;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);

.image{
    border: 5px;
}