@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");
$brandFont: "Cinzel Decorative", cursive;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);

.animationTitles {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 30px;
  text-shadow: $textShadow;
  font-family: $brandFont;
  font-weight: bold;
  margin-top: 9%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


// $mobile height: 16.5em;

// @media (min-width: $widescreen){
// #webSeries {
//   height: 20.18em;
//   overflow: hidden;
// }
// #clientWork {
//   height: 20.18em;
//   overflow: hidden;
// }
// #funAni {
//   height:20.18em;
//   overflow: hidden;
// }
// }
// @media (min-width: $desktop){

// }
// @media (min-width: $tablet){

// }
// @media (min-width: $mobile){

// }
// #webSeries {
//   height: 250px;
//   overflow: hidden;
// }
// #clientWork {
//   height: 250px;
//   overflow: hidden;
// }
// #funAni {
//   height: 250px;
//   overflow: hidden;
// }
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/utilities/initial-variables.sass";