@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
$sitePurple: #4a287c;
$SGBlue: #7ec0fd;
$textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$NechaGreen: #3bcacb;
#comicMenu {
  width: 300px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #3bcacb 36.98%,
    rgba(196, 196, 196, 0) 100%
  );
}
#comicHeader {
  max-width: 150%;
}
#comicMenuList {
  background: none;
  font-family: "Cinzel", serif;
  font-size: 2em;
  a {
    margin-bottom: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    color: white;
    &:hover {
      color: $NechaGreen;
    }
  }
  li:first-child {
    margin-top: -50px;
  }

  li {
    text-shadow: $textShadow;
  }
}

.hamburgerCom {
   margin-left: .5em;
  margin-top: .5em;
  color:$sitePurple;
  z-index: 1;
  font-size: 2em;
  position: fixed;
  top:0;

}
nav{
  position: fixed;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1em;

}