@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");

$brandSubFont: "Cinzel", serif;
$brandMainFont: "Cinzel Decorative", cursive;
$sitePurple: #4a287c;
$navBlue: #3fa1fc;
$lightBlue: #9ac8f3;

h1 {
  font-family: $brandMainFont;
}
#skillImage {
  width: 20%;
}
#skills {
  margin-top: 2em;
}
article.is-child {
  padding: 1em;
}
.back_ground {
  background: linear-gradient(180deg, #c5dcf1 5%, rgba(196, 196, 196, 0) 100%);
}
$primary: $sitePurple;

.titles {
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: $brandSubFont;
  width: 100%;
  margin-top: 30%;
  background-color: transparent;
}
.box {
  background-color: transparent;
}
.skills {
  background-color: rgba(255, 255, 255, 0.651);
}
#spaceChasers,
#sg,
#swaddle,
#memory,
#swiftly,
#tennis {
  position: relative;
}
::-webkit-scrollbar {
  width: 10px;
  // display: none;
}
::-webkit-scrollbar-gutter {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lightBlue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $sitePurple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $lightBlue;
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

@import "bulma/sass/elements/title.sass";
@import "bulma/sass/layout/hero.sass";
