@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");

$brandFont: "Cinzel Decorative", cursive;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);

.homeText {
  font-family: $brandFont;
  font-size: 4em;
  text-shadow: $textShadow;
  font-weight: bold;
  color: white;

  // margin-top: 15%;
  text-align: center;
}
/* Rectangle 1 */
#homeContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#animationHome {
  // position: absolute;
  width: 763px;
  height: 377px;
  flex-basis: 50%;
  position: relative;
  box-sizing: border-box;
  background: url("./Rectangle_1animation.png");
}

/* Rectangle 2 */
#artHome {
  // position: absolute;
  width: 763px;
  height: 377px;
  flex-basis: 50%;
  position: relative;
  box-sizing: border-box;
  background: url("./Rectangle_2art.png");
}

/* Rectangle 3 */
#comicHome {
  // position: absolute;
  width: 763px;
  height: 377px;
  flex-basis: 50%;
  position: relative;
  box-sizing: border-box;
  background: url("./Rectangle_3Comics.png");
}

/* Rectangle 4 */
#webdevHome {
  // position: absolute;
  width: 763px;
  height: 375px;
  flex-basis: 50%;
  position: relative;
  box-sizing: border-box;
  background: url("./Rectangle_4web.png");
}
@media (max-width: 1024px) {
  .homeText {
    font-size: 3em;
  }
  #animationHome {
    width: 510px;
    height: 380px;
  }

  /* Rectangle 2 */
  #artHome {
    width: 510px;
    height: 380px;
  }

  /* Rectangle 3 */
  #comicHome {
    width: 510px;
    height: 380px;
  }

  /* Rectangle 4 */
  #webdevHome {
    width: 510px;
    height: 380px;
  }
}
@media (max-width: 812px) {
  .homeText {
    font-size: 3em;
  }
  #animationHome {
    width: 405px;
    height: 190px;
  }

  /* Rectangle 2 */
  #artHome {
    width: 405px;
    height: 190px;
  }

  /* Rectangle 3 */
  #comicHome {
    width: 405px;
    height: 190px;
  }

  /* Rectangle 4 */
  #webdevHome {
    width: 405px;
    height: 190px;
  }
}
