@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");

$brandFont: "Cinzel Decorative", cursive;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);

.homeText {
  font-family: $brandFont;
  font-size: 4em;
  text-shadow: $textShadow;
  font-weight: bold;
  color: white;

  margin-top: 15%;
  text-align: center;
}
// #homeContainer{
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   }

/* Rectangle 1 */

#animationHome {
  position: absolute;
  width: 50vw;
  height: 50vh;

  background: url("./Rectangle_1animation.png");
}

/* Rectangle 2 */
#artHome {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 50vw;

  background: url("./Rectangle_2art.png");
}

/* Rectangle 3 */
#comicHome {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50vh;

  background: url("./Rectangle_3Comics.png");
}

/* Rectangle 4 */
#webdevHome {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 50vw;
  top: 50vh;
  background: url("./Rectangle_4web.png");
}
