@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");

$brandFont: "Cinzel Decorative", cursive;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);

.homeText {
  font-family: $brandFont;
  font-size: 4em;
  text-shadow: $textShadow;
  font-weight: bold;
  color: white;

  margin-top: 15%;
  text-align: center;
}
/* Rectangle 1 */

#animationHome {
  position: absolute;
  width: 768px;
  height: 377px;
  left: 0px;
  top: -2px;

  background: url("./Rectangle_1animation.png");
  mix-blend-mode: normal;
}

/* Rectangle 2 */
#artHome {
  position: absolute;
  width: 768px;
  height: 377px;
  left: 768px;
  top: -2px;

  background: url("./Rectangle_2art.png");
  mix-blend-mode: normal;
}

/* Rectangle 3 */
#comicHome {
  position: absolute;
  width: 768px;
  height: 377px;
  left: 0px;
  top: 375px;

  background: url("./Rectangle_3Comics.png");
  mix-blend-mode: normal;
}

/* Rectangle 4 */
#webdevHome {
  position: absolute;
  width: 768px;
  height: 375px;
  left: 768px;
  top: 375px;
  background: url("./Rectangle_4web.png");
  mix-blend-mode: normal;
}
@media screen and (max-width: 980px) {
  .homeText {
    font-size: 3em;
    margin-top: 25%;
  }
  /* Rectangle 1 */

  #animationHome {
    position: absolute;
    width: 405px;
    left: 0px;
    top: -2px;

    background: url("./Rectangle_1animation.png");
    mix-blend-mode: normal;
  }

  /* Rectangle 2 */
  #artHome {
    position: absolute;
    width: 405px;
    left: 405px;
    top: -2px;

    background: url("./Rectangle_2art.png");
    mix-blend-mode: normal;
  }

  /* Rectangle 3 */
  #comicHome {
    position: absolute;
    width: 405px;
    height: 275px;
    left: 0px;
    top: 275px;

    background: url("./Rectangle_3Comics.png");
    mix-blend-mode: normal;
  }

  /* Rectangle 4 */
  #webdevHome {
    position: absolute;
    width: 405px;
    height: 275px;
    left: 405px;
    top: 275px;
    background: url("./Rectangle_4web.png");
    mix-blend-mode: normal;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
