$bgComic: rgb(14, 14, 14);
$comicText: white;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);
.backgroundComic {
  background-image: url("./naca_bg.PNG");
  background-position: center center;
  background-size: cover;
  height: 300vh;
  margin-top: -10em;
}
#comic {
  background-color: $bgComic;
}
.padTop {
  padding-top: 4em;
}
.padTop2 {
  padding-top: 1em;
}
.padTop3 {
  margin-top: 6em;
}
.shadow {
  text-shadow: $textShadow;
}

// @import "bulma/sass/elements/title.sass";
