$bgComic: rgb(14, 14, 14);
$comicText: white;
$textShadow: 0px 4px 5px rgba(0, 0, 0, 0.9);
.backgroundComic {
  background-image: url("./naca_bg.jpg");
  background-position: center center;
  background-size: cover;
  margin-top: -10em;
}
#comic {
  background-color: $bgComic;
}
.padTop {
  padding-top: 3em;
}
.padTop4 {
  margin-top: 8em;
  margin-right: 2.5em;
  // margin-left: 1.5em;
}
.padTop3 {
  margin-top: 4em;
}
.pads {
  margin-top: 4em;
  margin-bottom: 4em;
}
.shadow {
  text-shadow: $textShadow;
}
.necahual {
  font-size: 5em;
}
.text-box {
  background: rgba(0, 0, 0, 0.4);
  border: 4px solid #3bcacb;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  padding: 2em;
  // width: 60vw;
  margin-top: 3em;
}
// #comicContain {
//   width: 60vw;
//   float: left;
// }
.text-box2 {
  border: 4px solid #3bcacb;
  box-sizing: border-box;
  box-shadow: $textShadow;
}
.hr {
  background-color: #3bcacb;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $textShadow;
}
.candyFluff {
  color: $comicText;
  &:hover {
    color: #fc79b4;
  }
}

// @import "bulma/sass/elements/title.sass";
