$bgComic: rgb(14, 14, 14);
$comicText: white;
.backgroundComic {
  background-image: url("./naca_bg.PNG");
  background-position: center center;
  background-size: cover;
  height: 300vh;
}
#comic {
  background-color: $bgComic;
}
// h1 {
//   font-size: 7rem;
//   color: $comicText;
//   padding-top: 20%;
// }
// h2 {
//   font-size: 5rem;
//   color: $comicText;
// }

// @import "bulma/sass/elements/title.sass";
