@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
$sitePurple: #4a287c;
$navBlue: #3fa1fc;
$textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$NechaGreen: #3bcacb;
$brandFont: "Cinzel", serif;
.menu {
  width: 300px;
  height: 150vh;
  background: linear-gradient(180deg, $navBlue 0%, rgba(196, 196, 196, 0) 100%);
  overflow: hidden;
}
#header {
  max-width: 150%;
}
.menu-list {
  color: $sitePurple;
  font-family: $brandFont;
  font-size: 2em;
  a {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

li {
  margin-top: 20px;
  text-shadow: $textShadow;
}
#firstLink {
  margin-top: -50px;
}
